@import 'theme';
.header {
  width: 90%;
  min-height: 34px;
  padding: 15px $verticalPadding;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__nav {
    display: flex;
    justify-content: flex-end;
    &__element {
      padding: 0px 30px;
      a {
        color: $defaultLink;
        &:hover {
          color: $hoverLink;
          font-weight: 500;
          text-decoration: underline;
        }
      }
    }
  }
  @media only screen and (max-width: 600px) {
    &__nav__element {
      padding: 0px 20px;
    }
  }
  @media only screen and (max-width: 500px) {
    display: block;
    &__nav {
      margin-top: 10px;
      justify-content: flex-start;
      &__element {
        padding: 0px 40px 0px 0px;
      }
    }
  }
}