@import 'theme';

.staff-tb {
  padding-top: 30px;
  overflow: auto;
  table {
    width: 100%;
    border-collapse: collapse;
  }
  td, th {
    border: 1px solid $tableBorder;
    text-align: center;
    padding: 10px 5px;
  }
  th {
    background-color: $tableHeaderBackground;
    width: 20%;
    &:nth-child(0), &:nth-child(1) {
      width: 15%;
    }
    &:nth-last-child() {
      width: 10%;
    }
  }
  &__button-group {
    display: flex;
    align-items: center;
    justify-content: center;
    &__edit, &__delete {
      padding: 0px 5px;
      cursor: pointer;
      color: $hoverLink;
      text-decoration: none;
      &:hover {
        color: $black;
        text-decoration: underline;
      }
    }
  }
}
