@import 'theme';

.modal-comp {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  outline: 0;
  z-index: 10;
  display: none;
  opacity: 0;
  transition: opacity .15s linear;
  &.show {
    display: block;
    opacity: 1;
  }
  &__layout {
    width: 100%;
    height: 100%;
    background-color: #212529;
    opacity: 0.3;
  }
  &__dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    opacity: 1;
    border-radius: 5px;
    width: 500px;
    &__header {
      padding: 16px;
      font-size: 20px;
      font-weight: 500;
      border-bottom: 1px solid $borderColor;
      position: relative;
      &__close-icon {
        position: absolute;
        right: 20px;
        top: 20px;
        cursor: pointer;
        &:hover {
          opacity: 0.6;
        }
      }
    }
    &__content {
      padding: 16px;
    }
    &__footer {
      padding: 5px 16px;
      border-top: 1px solid $borderColor;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__button {
        flex: right;
        display: flex;
        align-items: center;
        &>button {
          margin-left: 5px;
        }
      }
    }
  }
  @media only screen and (max-width: 500px) {
    &__dialog {
      min-width: 300px;
      width: 80%;
    }
  }
}