@import 'theme';

.footer {
  background: $footerBackground;
  padding: 20px $verticalPadding 30px;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__slogan {
    font-size: 20px;
    font-weight: 600;
    width: 50%;
  }
  &__description {
    text-align: right;
  }
}

