@import 'theme';
.staff-mng {
  background-color: $background;
  min-height: calc(100vh - 240px);
  width: calc(100% - 2 * #{$verticalPadding});
  padding: 50px #{$verticalPadding};
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__name {
      font-size: 28px;
      text-transform: uppercase;
    }
    &__add-icon {
      margin-right: 5px;
      font-size: 14px;
    }
  }
  &__loading {
    &__load-target {
      position: relative;
      top: -100px;
    }
    &__load-icon {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}

@media only screen and (max-width: 500px) {
  .staff-mng {
    &__header {
      display: block;
      &__name {
        font-size: 23px;
        margin-bottom: 10px;
      }
      
    }
  }
}