@import 'theme';

.staff-upt {
  &__form {
    padding: 0px 10px;
  }
  &__form-item {
    display: flex;
    align-items: center;
    margin: 10px 0px;
    &__label {
      margin-right: 10px;
      width: 100px;
      font-size: 15px;
      font-weight: 500;
    }
    &__checkbox {
      margin-right: 10px;
    }
  }
  @media only screen and (max-width: 500px) {
    &__form-item {
      display: block;
      &__label {
        margin-left: 3px;
        width: 100%;
      }
    }
  }
}