$defaultLink: #414040;
$hoverLink: #3c3c3c;
$background: #f9f9f9;
$footerBackground: #021a37;
$white: #ffffff;
$verticalPadding: 5%;
$tableHeaderBackground: #dddddd;
$tableBorder: #999999;
$black: #000000;
$borderColor: #e9ecef;